<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ssk.wanandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
            android:name=".app.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:supportsRtl="true">

        <activity android:name="com.ssk.wanandroid.view.activity.SplashActivity"
                  android:theme="@style/WanAndroid.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name="com.ssk.wanandroid.view.activity.MainActivity"
                  android:label="首页"
                  android:theme="@style/WanAndroid.MainActivity"/>

        <activity android:name="com.ssk.wanandroid.view.activity.LoginActivity"
                  android:label="登陆"
                  android:theme="@style/WanAndroid.LoginActivity"/>

        <activity android:name="com.ssk.wanandroid.view.activity.RegistActivity"
                  android:label="注册"
                  android:theme="@style/WanAndroid.RegistActivity"/>

        <activity android:name="com.ssk.wanandroid.view.activity.SearchActivity"
                  android:label="搜索"
                  android:theme="@style/WanAndroid.SearchActivity"/>

        <activity android:name="com.ssk.wanandroid.view.activity.WanWebActivity"
                  android:label="文章详情"
                  android:theme="@style/WanAndroid"/>

        <activity android:name="com.ssk.wanandroid.view.activity.KnowledgeDetailActivity"
                  android:label="知识体系列表"
                  android:theme="@style/WanAndroid"/>

        <activity android:name="com.ssk.wanandroid.view.activity.MyCollectActivity"
                  android:label="我的收藏"
                  android:theme="@style/WanAndroid"/>

        <activity android:name="com.ssk.wanandroid.view.activity.ScheduleActivity"
                  android:label="日程安排"
                  android:theme="@style/WanAndroid"/>

    </application>

</manifest>